#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.operaciones {
  display: flex;
  flex-direction:column;
  align-self:auto;
  
}

button {
  padding: 20px;       /* aumenta el tamaño interior del botón */
  font-size: 24px;     /* aumenta el tamaño del número que se ve */
  width: 60px;         /* ancho fijo */
  height: 60px;        /* alto fijo */
  border-radius: 10px; /* bordes redondeados */
  margin: 5px;         /* separación entre botones */
}

.display {
  border: 2px solid black;
}


.aux {
  display: flex;
  flex-direction:column;
}

.prueba {
  display: flex;
  flex-direction:row;
  align-items: center;
}

.numerosraros{
  align-self:flex-end;
}