.mainCointener {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.productosLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}
