

.productosLista {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}


.headerC {
  min-width: 100vw;
  gap: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.menu {
  width: 30px;
  height: 30px;
}