

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    background-color: greenyellow;
    border-radius: 5px;
    overflow: hidden;


}

.opcion {
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}