
.outContienr {
  position: absolute;
  top: 110px; 
  left: 0;
  display: flex;
  
}

.categoriasCointener {
  display: flex;
  flex-direction: column;
 background-color: ghostwhite;
  gap: 5px; 
}


.cerrarMenu {
  align-self: flex-start;
}